@media screen and (max-width: 1500px) and (min-width: 600px) {
    
    .rsvpForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 100px;
        position: absolute;
    }

}

@media screen and (max-width: 599px) {
    .rsvpForm {
        top: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.MuiFormControl-root {
    padding-bottom: 10px !important;
}

.notAttending {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
}

.rsvp_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

