@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Cinzel', serif;
}