@media screen and (min-width: 601px) { 
    .MuiBottomNavigation-root {
        display: none !important;
        background-color: grey;
        width: 100vw; 
    }

}
@media screen and (max-width: 600px) { 
    .MuiBottomNavigation-root {
        display: flex !important;
        background-color: rgba(119, 136, 153, 0.658) !important;
        bottom: 0px !important;
        position: fixed;
        width: 100vw;
        height: 100vh;
    }

    .MuiBottomNavigationAction-root {
        color: white !important;   
    }

    .MuiBottomNavigationAction-root.Mui-selected {
        color: purple !important;
    }

}

